.tt-dropdown-menu {
	padding: 1em;
	background-color: white;
}

.tt-dropdown-menu .title {
	font-size: 1.2em;
}

.tt-cursor {
	background-color: #efefef;
}

#myInputSearch:focus,
.tt-hint {
	outline:none;
   	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

#lightbox {
	position: absolute;
	top: 0;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background: #fff;
	z-index: 1001;
	display: none;
	border-radius: 5px;
	box-shadow: 0px 0px 13px 1px grey;
	-moz-box-shadow: 0px 0px 13px 1px grey;
	-webkit-box-shadow: 0px 0px 13px 1px grey;
	-o-box-shadow: 0px 0px 13px 1px grey;
	
	.searchWrapper {
		#myInputSearch,
		.tt-hint {
			 width: 481px;
			 height: 55px;
			 font-size: 30px;
			 padding-left: 11px;
			 border-radius: 5px;
			 margin-bottom: 0px;
			 outline: none;
			 z-index: 200;
		}
		
		.tt-dropdown-menu {
			width: 472px;
			border-radius: 0px  0px 10px 10px;
			box-shadow: 0px 10px 13px 1px grey;
			moz-box-shadow: 0px 10px 13px 1px grey;
			-webkit-box-shadow: 0px 10px 13px 1px grey;
			-o-box-shadow: 0px 10px 13px 1px grey;
			margin-top: -10px;
		}
		
		.tt-suggestion {
			padding: 10px;
			
			.asset-type {
				float: right;
				font-size: 0.8em;
			}
		}
	}
	
}

#lightbox-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity = 75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}